In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from src.data_generator import get_data

In [2]:
data = get_data()
print(data.columns)
data.head(5)

Index(['Participant_N', 'Age', 'Education', 'Gender', 'Handedness', 'Self_ID',
       'AQ10_Score', 'Hand_Cms', 'Arm_Cms', 'TextureScore', 'SizeScore',
       'WeightScore', 'SummedUpScore', 'FullGuessScore'],
      dtype='object')

,Participant_N,Age,Education,Gender,Handedness,Self_ID,AQ10_Score,Hand_Cms,Arm_Cms,TextureScore,SizeScore,WeightScore,SummedUpScore,FullGuessScore
0,1,18,UG1,male,right,6,4,18.0,72.0,4,4,2,10,2
1,2,18,UG1,female,right,6,5,17.0,63.5,3,4,4,11,3
2,3,26,postGrad,male,right,6,4,21.0,84.0,4,4,2,10,2
3,4,23,postGrad,male,right,6,3,19.0,71.5,2,4,4,10,2
4,5,24,postGrad,male,right,6,1,20.5,79.5,3,4,4,11,3